/* src/styles/NavBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background-color: #2b3a42;
    color: #ffffff;
    width: 100%;
  }
  
  .navbar-logo {
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 5px;
  }
  
  .navbar-search {
    padding: 5px;
    font-size: 1em;
    width: 40%;
  }
  
  .navbar-links a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  